@media screen and (max-width: 1024px){
	
	.head-content__textH{
		font-size: 36px;
		width: 90%;
	}

	.main-flex{
		display: block;
	}

	.leftside{
		width: 100%;

	}
	.rightside{
		width: 100%;
		margin-top: 15px;
	}

	.menuTalk-ul{
		flex-direction: column;	
	}
	.menuTalk-ul__link{
		padding: 12px;	
	}

	.menuTalk-ul__item:first-child{
		border-top: 1px solid #fff;
	}

	.menuTalk-ul__item{
	border-bottom: 1px solid #fff;
	}

	.lowLevel-ul{
		left: 100%;
		transform: translateY(-25%);
	}
	.lowLevel-ul__link{
		padding: 12px;
	}
	.touchMenu{
	display: none;
	background: #3d3c3c;
	padding: 20px 20px;
	position: relative;
}

.touchMenu__icon{
	display: block;
	width: 17px;
	height: 2px;
	background: #fff;
	position: relative;
}

.click{
	width: 19px;
	height: 16px;
	position: absolute;
	top: 13px;
	left: 19px;
}

.touchMenu__icon:before,
.touchMenu__icon:after{
	content: " ";
	display: block;
	width: 17px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	transition: .3s;
}

.touchMenu__icon:before{
	transform: translateY(-5px);
}

.touchMenu__icon:after{
transform: translateY(5px);
}

#tap:checked ~ .touchMenu .touchMenu__icon:before{
	transform: rotate(-45deg);
}
#tap:checked ~ .touchMenu .touchMenu__icon:after{
	transform: rotate(45deg);
}
#tap:checked ~ .touchMenu .touchMenu__icon{
	height: 0;
}
#tap:checked ~ .touchMenu{
	padding: 21px 21px;
}

.touchMenu__icon:hover{
	color: rgba(255,255,255, 0.8);
}
	.touchMenu{
		display: block;
	}
	.positionMenu{
		position: absolute;
		z-index: -1;
		width: 150px;
		margin-left: -170px;
		transition: 0.4s;
		opacity: 0;
	}

	#tap:checked ~ .positionMenu{
		margin-left: 0;
		opacity: 1;
		z-index: 3;
	}

	.prognosis-img__img{
	width: 70%;
	height: auto;
	margin-top: 25px;
	}
	.prognosis-img{
		text-align: center;
	}
	.forecastFLEX{
		justify-content: space-around;
	}
	.forecast{
	border-right: 1px dashed #bfbebe;
	border-left: 1px dashed #bfbebe;
	}
	.forecast:last-child{
	border-right: 1px dashed #bfbebe;
	border-left: 1px dashed #bfbebe;
	}

	.form-weather{
		width: 70%;
		margin: 0 auto;
		padding-top: 15px;
	}
	.prognosis{
		text-align: center;
	}
	.img-box{	
	margin: 10px;
	width: 40%;
	}
	.flexElemSlide{
	display: flex;
	justify-content: center;
	}
	.main-flex{
		width: 85%;
		margin: 0 auto;
	}	
	.quoteContent__h2{
		font-size: 28px;
	}
}


@media screen and (max-width: 768px){

		.head__search{
			flex-grow: 2;
		}


	.head__menu{
		order: 1;
	}
	.top-menu__link:hover{
		border: none;
	}
	.top-menu__link{
		border: none;
	}

	.touchTopMenu{
		order: 2;
		position: relative;
		margin-right: 10px;
	}

	.touchTopMenu__click{
		width: 18px;
		height: 15px;
		position: absolute;
		top: -7px;
		left: 0;
	}

	.touchTopMenu__label{
		width: 17px;
		height: 2px;
		position: relative;
		background: #fff;
		display: block;
	}
	.touchTopMenu__label:before,
	.touchTopMenu__label:after{
		content: " ";
		display: block;
		width: 17px;
		height: 2px;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		transition: .3s;
	}

	.touchTopMenu__label:before{
		transform: translateY(-5px);
	}

	.touchTopMenu__label:after{
		transform: translateY(5px);
	}

	#taps:checked ~ .touchTopMenu .touchTopMenu__label:before{
		transform: rotate(45deg);
	}

	#taps:checked ~ .touchTopMenu .touchTopMenu__label:after{
		transform: rotate(-45deg);
	}
	#taps:checked ~ .touchTopMenu .touchTopMenu__label{
		height: 0;
	}

	.top-menu{
		flex-direction: column;
	}
	.top-menu__item:first-child{
		border-radius: 5px 5px 0 0;
	}
	.top-menu__item:last-child{
		border-radius: 0 0 5px 5px;
	}
	
	.head__menu{
		position: absolute;
		transition: 0.3s;
		opacity: 0;
		width: 100px;
		right: 20px;
		top: 55px;
		margin-top: -150px;
	}

	#taps:checked ~ .head__menu {
		margin-top: 0;
		opacity: 1;
	}


	.top-menu__item{
		padding: 10px;
		background: rgba(37, 41, 50, 0.6);
		border-bottom: 1px solid #fff;
	}

	.top-menu__item:first-child{
		border-top: 1px solid #fff;
	}

	.head-content__textH{
		font-size: 30px;
		width: 85%;
	}
	.head-content__textP{
		font-size: 14px;
	}

	.quoteContent__h2{
		font-size: 24px;
	}

	.main-flex{
		width: 90%;
		margin: 0 auto;
	}	
	.quoteflex__img{
	align-self: flex-start;
	margin-top: 0;
	}

	.quoteAVATAR__img{
		width: 140px;
		height: auto;
	}

}

@media screen and (max-width: 650px){
	.head-content__textH{
		font-size: 26px;
		width: 90%;
	}
	
	.articleFLEX{
		flex-direction: column;
	}

	.article{
		width: 100%;
	}

	.elem2{
		margin-top: 15px;
	}

	.img_post{
		height: auto;
	}
	
	.form-weather{
		width: 95%;
	}
	.quoteContent__h2{
		font-size: 18px;
	}
	.quoteflex__img{
	align-self: flex-start;
	margin-top: 0;
	}
	.quoteAVATAR__img{
		width: 140px;
		height: auto;
	}
}

@media screen and (max-width: 500px){
		
	.menuTalk-ul{
		width: 100px;
	}
	.menuTalk-ul__link{
		font-size: 12px;
	}
	.lowLevel-ul{
		width: 100px;
		left: 66%;
	}
	.lowLevel-ul-two{
		min-width: 90px;
		right: -90px;
	}

	.head-content__textH{
		width: 95%;
		font-size: 20px;
	}
	.head-content__textP{
		width: 90%;
		font-size: 12px;
	}
	.quoteflex{
		flex-direction: column;
	}
	.quoteContent{
		order: 1;
		margin-left: 35px;
		margin-top: 10px;
	}
	.quoteflex__img{
		order: 1;
		margin-top: 5px;
	}
	.quoteContent__h2 {
		width: 95%;
	}
	.quoteAVATAR__img{
		width: 170px;
		height: auto;
	}
	.forecast{
		border-right: none;
	}
	.img-box{
		width: 49%;
	}
	.author{
		flex-direction: column;
		text-align: center;
	}
	.sociate{
		margin-top: 10px;
	}
	.formaSEARCH__input{
		padding: 5px 25px 5px 35px;
		font-size: 15px;
		max-width: 194px;  
		height: 30px;
	}
}

@media screen and (max-width: 375px){
	.formaSEARCH__input{
		padding: 5px 12px 5px 35px;
		font-size: 14px;
		max-width: 168px;  
		height: 28px;
	}

	.author{
		flex-direction: column-reverse;
	}
	.statistic__label,
	.list-trend__span,
	.list-trend__link{
		font-size: 14px;
	}

	.forecastFLEX{
		flex-wrap: wrap;
		margin-top: 10px;
	}

	.forecast{
		border: none;
		border: 1px dashed #bfbebe;
		margin-top: 10px;
		width: 46%;
	}
	.forecast:last-child{
		border: 1px dashed #bfbebe;
	}
	.form-weather{
		width: 100%;
	}
	.author__h6{
		font-size: 16px;
		margin-top: 10px;
	}
}